caption{
    color: blue;
}
#titulos{
    color: orange;
}
#titulo_1 {
    color: orange;
}
#titulo_2{
    color: red;
}
#titulo_3{
    color: red;
}
#titulo_4{
    color: red;
}
#a{
    color: limegreen;
}
#b{
    color: limegreen;
}
#c{
    color: limegreen;
}
#d{
    color: limegreen;
}
#e{
    color: orange;
}