*{
    margin: 0;
    padding: 0;
    font-size: large;
}
body{
    height: 100vh;
    background-color: #c4ebf9;
    display: flex;
    flex-flow: column;
    width: 100%;
}
header , footer{
    background-color: #02bfb1;
    height: 20%;
    margin: 10px;
    text-align: center;
}
main{
    height: 60%;
    display: flex;
}
aside{
    background-color: #6edb6e;
    width: 25%;
    margin: 0px 0px 0px 10px;
    text-align: center;
}
article{
    background-color: #fbb04c;
    width: 75%;
    margin: 0px 10px 0px 10px ;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.img{
    background-color: #fcd24a;
    width: 30%;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
}