*{
    margin: 0;
    padding: 0; 
 }
 body{
     background-color: darkslategray;
     padding-top: 10%;
 }
 .parent{
     margin: auto;
     width: 400px;
     height: 400px;
     background: skyblue;
     position: relative;
 }
 .child{
     width: 100px;
     height: 100px;
     background: tomato;
     position: absolute;
 }

 .child:nth-child(1){
     top: 150px;
     left: 150px;
 }
 .child:nth-child(2){
     top:0px;
     right:0px;
 }
 .child:nth-child(3){
     left: 0;
     bottom: 0px;
 }
.grand{
    background-color: lime;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.circulo{
    width: 40px;
    height: 40px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    color: grey;
}
#uno{
    top: -40px;
    right: 30px;
}
#dos{
    bottom: 30px;
    right:-40px;
}
#tres{
    bottom: -40px;
    left: 30px;
}
#cuatro{
    top: 30px;
    left: -40px;
}
.rectangulo{
    position: fixed;
    width: 100px;
    height: 40px;
    background-color: goldenrod;
    top: 40px;
    right: 40px;
    z-index: 3;
}